 <section>
        <article>
            <div class="card card-borde mb-1" >
                <div class="card-body">
                    <div class="d-flex justify-content-between">   
                        <h5 class="card-title">Acerca de</h5>
                        <a href="#"><i class="fa-solid fa-pen"></i></a>       
                    </div>
                  
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
            </div>
        </article>
    </section>
