   <section>
    <div class="card card-borde mb-1 ">
       
         <img [src]="datos.Persona.image_background_header" class="card-img-top image-portada" alt="...">

         <img class="img-fluid img-foto" src="../../../img/Cristian_4x4.png" alt="">
         
        <div class="card-body portada_data ">
        
        <h5 class="card-title">{{datos.Persona.nombres}} {{datos.Persona.apellido}}</h5>
        <span class="card-text">{{datos.Persona.ocupacion}}</span>
        <br>
        <!-- <p class="card-text"></p> -->
        <span class="card-text"><small class="text-muted">San Rafael - Mendoza</small></span>
        <a class="m-3" href="#"><small>Información de contacto</small></a>
        <!-- <p class="card-text"><small class="text-muted">San Rafael - Mendoza</small></p> -->
        <div class="mt-3">   
            <button class="btn btn-primary m-1">interes</button>
            <button class="btn btn-primary m-1">interes</button>
            <button class="btn btn-primary m-1">interes</button>
        </div>
        
        </div>
    </div>
    </section>
