                <div class="card-body">  
                      <div class="d-flex justify-content-between">   
                        <h5 class="card-title">Cursos</h5>
                        <a class="m-1" href="#"><i class="fa-solid fa-plus"></i></a>       
                    </div> 
                    <ul>
                        <li>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                              <img class="rounded float-start img-logo" src="./src/arg_p.png" alt="">
                                <div class="px-2">
                                    <h6 class="card-title">Argentina Programa</h6>
                                    <span class="card-text"><small>#YoProgramo</small></span>
                                    <p class="card-text text-muted"> 
                                       11/2021 - En curso
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <a class="m-1" href="#"> <i class="fa-solid fa-pen"></i></a>
                                <a class="m-1" href="#"> <i class="fa-solid fa-trash"></i></a>
                            </div>
                          </div>


                        </li>
                    </ul>

                </div>
